*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:10 px;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
line-height: 1.5;
text-align: center;
background-color: #333;
color: white;

}
a{
    text-decoration: none;


}
p{
    padding: 1.6rem 0;
}



/*Header*/

header{
height: 45rem;


}
header .bg-image{
    position: absolute;
    background-image: url(bg.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: 1;
    
}
header h1{
    padding: 11rem;
    padding-bottom: 0;
}
img{
    width: 100%;
    height: auto;
}
.btn{
background: #333;
color: #fff;
border: solid 1px #666;
margin: .5rem 0;
display: inline-block;
padding:  1.6rem 3.2rem;
transition:  all 0.3sn;
}
.btn:hover{
background-color: #eaeaea;
color: #333;
}
.box:hover{
    background-color: white;
}
/*Main section a */
#section-a{
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
}
/*Seciton B*/
#section-b{
    padding: 2rem;
}
#section-b ul{
    list-style: none;
}
#section-b li{
    background: #fff;
    color: #333;
    margin-bottom: 1.5rem;
}
.col-content{
    padding: 1.5rem;
}
#section-c{
    background-color:#eaeaea;
    color:#333;
    padding: 5rem;
}
#section-d .box{
    padding: 5rem;
}
#section-d .box:first-child{
    background-color: #2690d4;
}
/*footer*/
footer{
    padding:4rem ;
    background: #000;


}
footer a{
    color: #2690d4;
}

@media screen and(min-width:800px){
#section-n li {
    width: 28%;
    margin:1;
 
    display: inline-block;
}}
