article{
    position: absolute;;
    top: 145px;
    left: 10%;
    border:1px solid black;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(146, 141, 135);
    display: block;
    right: 10%;
    text-align: center;
   

    
}